@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 50px;
    background-color: gray;
}

h1>a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: black;

}

nav{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    
}

nav>a{
    text-decoration: none;
    color: black;
    padding: 8px;
    margin-top: 5px;
    margin-right: 8px;
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
    border-radius: 3px;
    transition: transforme 0.3s ease, background-color 0.5s ease;


}

nav>a:hover{
    background-color: rgb(66, 65, 65);
    color: white;
    transform: scale(1.1);
    
}

main{
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

section{
    background-color: rgba(243, 243, 243, 0.452);
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
    width: 70vw;
    margin-top: 20px;
    line-height: 1.3;
    text-align: justify;
    text-indent: 30px;
}

main > section > h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2,h3{
    background: linear-gradient(to right, rgb(194, 194, 194), white);
    width: 40%;
    padding: 1px;
    text-indent: 10px;
}

div{
    display: none;
}

@media screen and (max-width:500px) {
    section{
        padding-bottom: 190px;
    }
}


@media screen and (min-width:1200px) {

    nav{
        flex-flow: row-reverse wrap;
    }
    
    section{
        padding-bottom: 520px;
        height: 30vh;
        width: 50%;
    }

    div#one{
        display: flex;
        flex-flow: column nowrap;
        margin-left: 20px;
        background-color: azure;
        width: 200px;
        padding: 20px;
        margin-top: 20px;
        height: 20%;
        text-align: justify;
        
    }

    div#sec{
        display: flex;
        flex-flow: column nowrap;
        background-color: antiquewhite;
        width: 200px;
        padding: 20px;
        margin-top: 20px;
        margin-right: 20px;
        height: 20%;
        text-align: justify;
    }

    h4{
        text-align: center;
        text-indent: 0px;
    }
}