@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}